# This is a template
# Copy this to .env and fill it out with your info, then
# chmod 700 .env

# ---- Identity -------------------------------------------------------------
PUID=1000
PGID=1000
TZ=Europe/Budapest
UMASK=002

# ---- Images ---------------------------------------------------------------
QBITTORRENT_IMAGE=lscr.io/linuxserver/qbittorrent:5.2.4_v2.0.15-ls479
JELLYFIN_IMAGE=lscr.io/linuxserver/jellyfin:12.2ubu2604-ls53

# ---- Ports ----------------------------------------------------------------
QBITTORRENT_WEBUI_PORT=32000
QBITTORRENT_TORRENTING_PORT=6881
JELLYFIN_PORT=8096

# ---- Storage --------------------------------------------------------------
MOVIES_DIR="/storage/Media/Movies"
TVSHOWS_DIR="/storage/Media/TV Shows"
TORRENT_FILES_DIR="/storage/Media/Torrent_files"
#INCOMPLETE_DIR="/storage/Media/Incomplete"
